USE [master]
GO
/****** Object:  Database [THEATRE]    Script Date: 08/20/2015 11:39:24 ******/
CREATE DATABASE [THEATRE] ON  PRIMARY 
( NAME = N'THEATRE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\THEATRE.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'THEATRE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\THEATRE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THEATRE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THEATRE]
GO
/****** Object:  Table [dbo].[TH_SCREEN]    Script Date: 08/20/2015 11:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TH_SCREEN](
	[SCREEN_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SCREEN_NAME] [nvarchar](max) NOT NULL,
	[IS_ACTIVE] [char](1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TH_MOVIE_URL_MAP]    Script Date: 08/20/2015 11:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TH_MOVIE_URL_MAP](
	[URL_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MOVIE_ID] [numeric](18, 0) NOT NULL,
	[FILE_NAME] [nvarchar](max) NOT NULL,
	[IMAGE_URL] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TH_MOVIE_SCREEN_MAP]    Script Date: 08/20/2015 11:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TH_MOVIE_SCREEN_MAP](
	[MOVIE_ID] [numeric](18, 0) NOT NULL,
	[SCREEN_ID] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TH_MOVIE_SCREEN_MAP] ON [dbo].[TH_MOVIE_SCREEN_MAP] 
(
	[MOVIE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TH_MOVIE]    Script Date: 08/20/2015 11:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TH_MOVIE](
	[MOVIE_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MOVIE_NAME] [nvarchar](max) NOT NULL,
	[IS_RELEASED] [char](1) NOT NULL,
	[IS_RUNNING] [char](1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
